@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Quicksand:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: mandatory;
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
}

h1 {
  font-weight: 700;
}

.app-container {
  width: 100%;
  background-color: floralwhite;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
  color: black;
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fffaf0;
  z-index: 10;
}

.logo-container {
  width: 10vw;
  text-align: center;
}

.nav-items {
  list-style: none;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 22px;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 10vh;
  z-index: 10;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: 10px;
  padding: 5px;
  background-color: #e2dfd9;
  border-radius: 50px;
}

.bar-filling {
  height: 100%;
  background: linear-gradient(45deg, rgb(55, 157, 149), #0ad3dd);
  border-radius: 50px;
}

/* start panel */
.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 20;
  background-color: floralwhite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0ad3dd;
  }
}

.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid #0ad3dd;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2.8s steps(14, end), blink-caret 1s step-end infinite;
}

.typewriter .by {
  opacity: 0;
  width: max-content;
  font-style: italic;
  overflow: hidden;
  border-right: 0.15em solid #0ad3dd;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.02em;
  animation: typing 4s steps(34, end), blink-caret 1s step-end infinite;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.get-started-btn {
  position: absolute;
  width: 20vw;
  height: 10vh;
  bottom: 25vh;
  font-size: 3vh;
  border: none;
  border-radius: 2vh;
  background: linear-gradient(10deg, rgb(55, 157, 149), #0ad3dd);
}

/* section 1 -> React JS */
#react-js {
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-left: 10vw;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-right: 10vw;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 1vw;
}

.title {
  font-size: 50px;
  margin-bottom: 2vh;
}

#p1 {
  width: 40vw;
}

#p1-logo {
  height: 300px;
}

/* section 2 -> Intro */
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 30vw;
  font-size: 22px;
  padding: 1.5rem;
  border-radius: 25px;
  background: linear-gradient(30deg, rgb(37, 124, 116), #0ad3dd);
  margin-top: 2vh;
}

.pop-btn {
  width: 32vw;
  padding: 1vw;
  font-size: 22px;
  margin-top: 2vh;
  background: linear-gradient(30deg, rgb(238, 255, 0), #737015);
  border: none;
  border-radius: 25px;
}

.animation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 40vw;
  background-color: #e2dfd9;
  border-radius: 50px;
  margin-top: 10vh;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: 20vh;
  height: 20vh;
  background: linear-gradient(45deg, rgb(43, 120, 113), #0ad3dd);
  border-radius: 100px;
  margin-right: 1vw;
}

.server {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 20vh;
  height: 20vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), #ffffff);
  border-radius: 100px;
  margin-left: 1vw;
}

.line-container {
  display: flex;
  gap: 3vh;
  flex-direction: column;
}

.request {
  width: max-content;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(37, 124, 116), #0ad3dd);
  border-radius: 10px;
}

.response {
  align-self: flex-end;
  padding: 5px;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #ffffff, rgb(53, 49, 49));
  border-radius: 10px;
}

.no-response {
  align-self: center;
  padding: 5px;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #780909, rgb(255, 0, 0));
  border-radius: 10px;
}

.line-top {
  width: 200px;
  height: 10px;
  background: linear-gradient(45deg, rgb(37, 124, 116), #0ad3dd);
}

.line-bottom {
  width: 200px;
  height: 10px;
  background: linear-gradient(90deg, #ffffff, rgb(0, 0, 0));
}

/* for Modal */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 11;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 12;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 7px;
}

.modal-title {
  position: absolute;
  top: 10%;
  font-weight: normal;
  font-size: 6vh;
}

/* sectipn 3 -> Why React */
.switch {
  width: 8vw;
  height: 4vw;
  background-color: #e2dfd9;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  left: 50vw;
  transform: translate(-50%);
  z-index: 2;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  width: 4vw;
  height: 4vw;
  background: linear-gradient(45deg, rgb(0, 85, 85), #00f2ff);
  border-radius: 50px;
}

.pros {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at left, #14ccc3 30%, transparent 52%);
  width: 50vw;
  height: 100vh;
}

.pros-container,
.cons-container {
  margin-top: 10vh;
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: hidden;
}

.pro-container {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}

.pro {
  font-size: 18px;
}

.cons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at right, #b7b9b9 30%, transparent 52%);
  width: 50vw;
  height: 100vh;
}

/* section 4 -> JSX */

#JSX {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.examples-container {
  position: relative;
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
  margin-top: 10vh;
}

.other {
  background-color: #e2dfd9;
  display: grid;
  grid-template-rows: 2fr 2fr;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 18px;
}

.other:hover {
  box-shadow: 0px 0px 40px rgb(168, 168, 168);
}

.other:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.other-title {
  text-align: center;
  font-size: 33px;
}

.other.hidden {
  background-color: floralwhite;
}

.quick-intro {
  background: linear-gradient(45deg, rgb(37, 124, 116), #0ad3dd);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 39vw;
  height: 33vh;
  border-radius: 30px;
  z-index: 8;
}

.text-container {
  text-align: justify;
  width: 60vw;
  height: 50vh;
  font-size: 25px;
  position: absolute;
  top: 30vh;
  transform: translate(0, -50%);
}

.quick-intro .title {
  position: absolute;
  top: 17vh;
  transform: translate(0, -50%);
}

.code-like {
  font-family: "Fira Mono", monospace;
  align-self: self-start;
  color: #0256ff;
}

.code-like.right-bottom {
  justify-self: center;
}

/* section -> Components */
.panel-container {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel {
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: #e2dfd9;
  width: 30vw;
  height: 50vh;
  margin-top: 10vh;
  border-radius: 3vh;
  font-size: 15px;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.cards-container {
  width: 50vw;
  height: 50vh;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: #e2dfd9;
  padding: 2vh;
  border-radius: 3vh;
}

.title-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

.control-panel .title {
  font-size: 4vh;
  margin: 0;
  text-align: center;
}

.card-title-input,
.card-background-color-input,
.card-text-color-input,
.card-text-size-input {
  display: flex;
  flex-direction: column;
}

.description {
  align-self: flex-start;
}

.card-title-input input {
  margin-top: 0.8vh;
  height: 3vh;
  border-radius: 1.5vh;
  border: none;
  text-align: center;
}

.card-title-input input:hover {
  box-shadow: 0px 0px 5px rgb(153, 153, 153);
}

input {
  display: flex;
  width: 18vw;
  cursor: pointer;
}

.slider-wraper {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.color-mark1,
.color-mark2 {
  height: 4vh;
  width: 4vh;
  background-color: grey;
  border-radius: 25%;
  border: solid 5px rgb(195, 193, 193);
}

.text-value {
  width: 4vh;
  text-align: center;
}

.create-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vh;
  height: 7vh;
  border: none;
  border-radius: 1.5vh;
  background: #216efd;
  font-size: 4vh;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 40vh;
  width: 13vw;
  border-radius: 3vh;
}

.card > p {
  align-self: center;
  justify-content: center;
}

.card-background {
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
}

.viewer {
  width: 1px;
  height: 1px;
  background-color: floralwhite;
  position: absolute;
  top: 30vh;
  left: 30vh;
}

.components-viewer {
  width: 1px;
  height: 1px;
  background-color: floralwhite;
}

/* section -> Hooks */
.content#hooks {
  flex-direction: column;
}

#hooks .text-box.main {
  width: 60vw;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
}

.hooks-container {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: space-around;
}

.hook-container {
  position: relative;
}

.hook-container img {
  width: 40vh;
  margin-top: 8vh;
}

.hook-name {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
}

.main {
  font-size: 2.5vh;
}

#hooks .viewer {
  position: static;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.example-container .text-box {
  width: 40vw;
}

.hook-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}

.hook-description .title {
  margin-bottom: 0;
}

.hook-description .text-box {
  font-size: 2vh;
}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}

.counter-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  width: 30vw;
  height: 20vh;
  background-color: #e2dfd9;
  border-radius: 4vh;
}

.count {
  text-align: center;
  width: 10vw;
  border-radius: 2vh;
}

.decrement, .increment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  border-radius: 2vh;
  border: none;
}

.minus, .plus {
  width: 4vh;
}

