@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Quicksand:wght@300;400;700&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

h1 {
  font-weight: 700;
}

.app-container {
  width: 100%;
  background-color: floralwhite;
}

.content {
  display: flex;
  place-items: center;
  align-content: center;
  height: 100vh;
  font-size: 50px;
  color: black;
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fffaf0;
}

.logo-container {
  width: 10vw;
  text-align: center;
}

.nav-items {
  list-style: none;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 22px;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 10vh;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: 20px;
  padding: 5px;
  background-color: #e2dfd9;
  border-radius: 50px;
}

.bar-filling {
  height: 100%;
  background-color: rgb(45, 189, 196);
  border-radius: 50px;
}

/* section 1 -> React JS */
#react-js {
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-left: 10vw;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-right: 10vw;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 1vw;
}

.title {
  font-size: 50px;
  margin-bottom: 2vh;
}

#p1 {
  width: 40vw;
}

#p1-logo {
  height: 300px;
}

/* section 2 -> Intro */
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  font-size: 22px;
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(30deg, rgb(45, 189, 196), #2170b9);
  margin-top: 2vh;
}

.pop-btn {
  width: 32vw;
  padding: 1vw;
  font-size: 22px;
  margin-top: 2vh;
  background: linear-gradient(30deg, rgb(238, 255, 0), #737015);
  border: none;
  border-radius: 25px;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 40vw;
  background-color: #e2dfd9;
  border-radius: 50px;
  margin-top: 10vh;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: 20vh;
  height: 20vh;
  background: linear-gradient(45deg, #2170b9, rgb(45, 189, 196));
  border-radius: 100px;
  margin-right: 1vw;
}

.server {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 20vh;
  height: 20vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), #ffffff);
  border-radius: 100px;
  margin-left: 1vw;
}

.line-container {
  display: flex;
  gap: 3vh;
  flex-direction: column;
}

.request {
  width: max-content;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(90deg, rgb(45, 189, 196), #2170b9);
  border-radius: 10px;
}

.response {
  align-self: flex-end;
  padding: 5px;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #ffffff, rgb(53, 49, 49));
  border-radius: 10px;
}

.no-response {
  align-self: center;
  padding: 5px;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #780909, rgb(255, 0, 0));
  border-radius: 10px;
}

.line-top {
  width: 200px;
  height: 10px;
  background: linear-gradient(90deg, rgb(45, 189, 196), #2170b9);
}

.line-bottom {
  width: 200px;
  height: 10px;
  background: linear-gradient(90deg, #ffffff, rgb(0, 0, 0));
}

/* for Modal */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 7px;
}